<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
</nav>
app/assets/images/logo.png



