<div class="banner">
    <div>
      <h1 class="p-1 mb-5 d-flex justify-content-center">Find your favourite boat!</h1>

      <%= form_tag boats_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-input",
          placeholder: "Find a boat!"
        %>
        <%= submit_tag "Find", class: "search-button" %>
      <% end %>
    </div>
</div>
 <%# <% hello mistake %>

