<div class="banner">
    <div>
      <h1>Find your favourite boat!</h1>
      <%= simple_form_for :search, url: boats_path, method: :get do |f| %>
        <%= f.input :location, class: "search-input" %>
        <%= f.submit "Find", class: "search-button" %>
      <% end %>
    </div>
</div>


