.banner {
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 75%), asset-url('banner_02.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .simple_form.search {
    display: flex;
    padding-top: 50px;

  }

  h1 {
    color: white;
    font-size: 72px;
    font-family: 'Libre Baskerville', serif;
  }
}
