@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;700&display=swap');
h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.card-trip {
  width: 600px;
  overflow: hidden;
  background: #f7f9fa;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  color: black;
  margin: 0;
}

.card-trip p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 550px;
  top: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.card-trip-infos .card-trip-pricing{
  color: #455960;
  font-family: 'Monteserrat', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  right: 15px;
  top: 175px;
}

.orange-bar{
  color: #EA580B;
}
