.banner form {
display: flex;
justify-content: center;
align-items: center;
}

.search-input {
border-radius: 20px 0 0 20px;
width: 600px;
padding: 8px;
font-size: 24px;
border:none;
}

.search-button {
border-radius: 0px 32px 32px 0px;
background: #EA580C;
padding: 12px 24px;
border: none;
color: white;
font-size: 20px;
}

.search_location label {
    display:none;
  }

.form-group {
  margin-bottom: 0rem;
}
